html {
    box-sizing: border-box;
}
*, ::after, ::before{
    box-sizing: inherit;
}
.body{
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    padding-bottom: 15px;
    
    background-image: url(../images/money.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
    
}
